@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Playfair+Display:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.wrapper {
		/* @apply w- */
		width: clamp(360px, 90vw, 1248px);
		margin: 0 auto;
	}
	.h-1-grow {
		/* @apply text-[32px] md:text-[96px]; */
		font-size: clamp(32px, 5vw, 96px);
	}
	.astronaut-frame-grow {
		width: clamp(313px, 45vw, 701px);
		height: clamp(219px, 25vw, 461px);
	}

	.circle-frame {
		position: relative;
	}

	.circle {
		position: absolute;
		width: 150px;
		height: 150px;
		/* background-color: black; */
		/* border: 3px solid; */
		border-radius: 50%;
		bottom: 20px;
		right: 0;
		transform: translateX(50%);
	}
	.about-text-grow {
		font-size: clamp(1.25rem, 2.5vw, 2.5rem);
	}
	.btn-naked {
		@apply relative;
	}
	.btn-naked:hover::after {
		@apply absolute content-[""] -bottom-2 left-0 w-full h-px bg-black;
	}
	.btn-outline {
		@apply py-[.75em] px-[1em] border-black border rounded-md;
	}
	.btn-outline:hover {
		@apply text-white bg-black;
	}

	.img-box {
		cursor: pointer;
		position: relative;
		/* @apply bg-[#D6D6D6]; */
		border: 2px solid black;
	}

	.img-box > img {
		position: relative;
		top: -20px;
		right: -20px;
		@apply shadow-md;
		border: 2px solid black;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
