@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.wrapper {
		/* @apply w- */
		width: clamp(360px, 90vw, 1248px);
		margin: 0 auto;
	}
	.h-1-grow {
		/* @apply text-[32px] md:text-[96px]; */
		font-size: clamp(32px, 5vw, 96px);
	}
	.astronaut-frame-grow {
		width: clamp(313px, 45vw, 701px);
		height: clamp(219px, 25vw, 461px);
	}
	.about-text-grow {
		font-size: clamp(1.25rem, 2.5vw, 2.5rem);
	}
}
